<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyberSafeDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyberSafeDemo.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav >
              


        <ul class="menu cf  ">

            <li><a href="">Начало</a></li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">CyberLab</a>
                <ul class="submenu">
                    <li><a href="">Вход</a></li>
                    <li><a href="">Какво е CyberLab</a></li>
                    <li><a href="">Политика за поверителност</a></li>
                    <li><a href="">Цел</a></li>
                </ul>
            </li>
            <li><a href="">Блог</a></li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">За Нас</a>
                <ul class="submenu">
                    <li><a></a></li>
                    <li><a></a></li>
                    <li><a></a></li>
                    <li><a></a></li>

                </ul>

            </li>

            <li><a href="">Контакти</a></li>
                    <li><a id="login" asp-area="Identity" asp-page="/Account/Login">Вход/Регистрация</a></li>
        </ul>




    
                
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white py-3">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Contact Us</h4>
                    <p>123 Main St.<br>Cyber City, USA 12345</p>
                </div>
                <div class="col-md-3">
                    <h4>Follow Us</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Services</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Web Security</a></li>
                        <li><a href="#">Data Encryption</a></li>
                        <li><a href="#">Firewall Protection</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Subscribe</h4>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-outline-light">Subscribe</button>
                    </form>
                </div>
            </div>
            <hr>
            <p class="text-center">Copyright &copy; Cybersecurity 2023</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
